 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  Arial, sans-serif;
}

body {
  background: linear-gradient(
    900deg,
    rgb(13, 13, 13) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 450px;
  min-height: 400px;
  background: #39173f;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
  background-color: red;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #672a6d;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(23, 18, 23) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
.todo-button:hover{
  background: linear-gradient(
    90deg,
    rgb(11, 11, 11) 0%,
    rgb(77, 22, 109) 100%
  );
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(135, 81, 101) 0%,
    rgb(120, 7, 7) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:hover {
  opacity: 0.8;
  width: 399px;
}


.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(130, 131, 83) 0%,
    rgb(63, 87, 35) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(134, 55, 146) 0%,
    rgb(55, 11, 77) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(72, 101, 121) 0%,
    rgb(20, 20, 82) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

